.heading {
    text-align: center;
    margin-top: 90px;
    width:90%;
    margin-left: 5%;
}

.info {
    text-align: center;
    padding-left: 5rem;
    padding-right: 5rem;
}

.table {
    text-align: center;
    
}

